.movie-index {
	width: 500px;
	height: 330px;
	margin: 20px auto;
	background-color: #FFF0D4;
	padding: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.movie-index img {
	width: 170px;
	height: 170px;
}

.movie-index img {
	width: 170px;
	height: 170px;
}

.movie-index .no-image {
	width: 100px;
	height: 100px;
}

.movie-index .movie-info-short {
	margin: 0 10px;
	width: 240px;
	float: right;
}

.movie-index .movie-links {
	float: right;
	
}



