#movie-info img {
	width: 200px;
	height: 200px;
}

#movie-info .no-image {
	width: 200px;
	height: 200px;
}

#movie-synopsis {
    -moz-border-radius: 20px 20px 20px;
    background-color: #FFF0D4;
    padding: 10px;
    margin-bottom:50px;
    width: 530px;
}

#movie-meta {
 		-moz-border-radius: 20px 20px 20px;
  	background-color: #F8ECE0;
		float: right;
		width:200px;
		padding:10px;
}

#trailer {
  margin-left: 5%;
}

#movie-info #rating {
	clear: both;
	float: right;
	margin: 10px 15px;
}

#movie-info #rating strong {
	margin-top: 5px;
	float: right;
}